body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color:#0000FF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #D2691E;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #696969;
    color: white;
}

td {
    background-color: #f9f9f9;
}

.break {
    background-color: #7CFC00;
}
